*{
    margin:0 ;
    padding: 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
    
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
   
}
.container{
    width: 500px;
    height: 600px;
    background: white;
    color:black;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08)
    
    
}
.container p{
 padding: 16px;
   margin-left:20px ;
  

}
.container h1 {
font-size:36px ;
text-align: left;
  margin-left: 50px ;
}
.container .input-box{
    width: 350px;
    height: 16px;
    padding: 30px 50px;
    margin: 30px 0px;
}
.input-box input{
    width: 150%;
    height: 100% ;
    border: none;
    border:1px solid rgba(237, 247, 250, 0.896) ;
    border-radius:6px ;
    font-size: 15px;
    padding: 20px;
}
.container .remember-forgot {
    display: flex;
    gap:90px;
    text-decoration: none;
    
    font-size: 15px;
    font-weight: 400;
    margin:0 48px;
    align-items:center;
    
}
.remember-forgot a{
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;

}
.container .btn{
    width: 80%;
    height: 45px;
    background-color: blue;
    color:white ;
    font-size: 16px;
    font-weight: 300; 
    font-style: bold;
    border:none ;
    border-radius: 6px; 
    cursor:pointer ;
    padding:4px;
    margin: 20px 45px ;
    
    
    

}.google-btn img{
    width: 30px;
}
.google-btn{
    width: 80%;
    background-color:#fff ;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 0 48px; 
   align-items: center;
   font-size: 14px;
       margin-bottom: 18px;
       border: 1px solid rgb(157, 151, 151);

}
.btn:active{
    background-color: rgba(145, 83, 83, 0.896) ;
}
.container .register-link{
    font-size: 15px;
    text-align:center;
    margin-top: -15px;
   
    
}
.register-link p a{
    font-weight: 600;
}

.register-link p a:hover{
    font-size: 20px;
}





